<div class="flex flex-col items-center h-full gap-6 bg-[#002752] ">
    <div class="">
        <img src="../../../assets/images/Logo.svg" class="px-4 pt-4">
    </div>
    <div class="flex flex-col gap-4 overflow-y-auto overflow-x-hidden
            [&::-webkit-scrollbar]:w-0
            [&::-webkit-scrollbar-track]:bg-transparent
            [&::-webkit-scrollbar-thumb]:bg-gray-300
            [&::-webkit-scrollbar-thumb]:rounded-full
            hover:[&::-webkit-scrollbar-thumb]:bg-gray-400">
        <app-side-button *ngFor="let item of SidebarItems;" [iconName]="item.icon" [content]="item.name"
            [activeState]="item.activeState" (buttonClicked)="onSideButtonClick(item)" />
    </div>

</div>