<div class=" flex flex-row justify-between pr-8 pl-4 py-6 w-full">
    <div class="flex items-center">
        <div class="font-poppins font-medium text-4xl">
            <!-- Parc entiére -->
            {{ title }}
        </div>
        <!--vertical line-->
        <div *ngIf="isSubTitle" class="w-0.5 h-9 bg-black rounded-full mx-2"></div>
        <div *ngIf="isSubTitle" class="flex flex-row items-end align-bottom text-[#002752]">
            <h2 class="text-2xl font-semibold">
                {{ isEditMode ? 'Modifier la Machine' : 'Créer une Nouvelle Machine' }}
            </h2>
        </div>
    </div>
    <!--Recover machine icon-->
    <div class="relative group">
        <button class="p-2 rounded-full hover:bg-gray-200" (click)="onRecoverMachineClick()">
            <lucide-icon name="rotate-ccw" [size]="24" color="#002752"></lucide-icon>
        </button>
    </div>
    <!-- <app-profile-card></app-profile-card> -->
</div>