<div class="flex flex-row gap-0 bg-[#EAF5FE] rounded-lg overflow-hidden">
    <div class="grid grid-cols-6 w-1/3 items-center justify-center pt-4 pb-4 pl-4">
        <div class="col-span-6 border-0 border-red-400">
            <div class="bg-[#003863] text-sm text-white w-fit px-2 py-1 rounded-lg shadow-lg font-medium">
                {{machine.type}}
            </div>
        </div>
        <div class="flex flex-col col-span-1 w-full border-0 border-red-400">
            <img class="w-20" src="../../../../../assets/images/Laptop_low.png">
        </div>
        <div class="flex flex-col col-span-3 gap-1 h-full border-0 border-red-400">
            <div class="font-semibold">{{machine.marque}}</div>
            <div class="text-3xl font-semibold">{{machine.modele}}</div>
            <div class="font-bold">{{machine.serviceTag}}</div>
        </div>
        <div class="flex flex-col col-span-2 h-full border-0 border-red-400 items-end text-right font-bold">
            {{machine.reseau}}
        </div>
        <div class="col-span-6 border-0 border-red-400">
            <div class="flex flex-row gap-2 items-center">
                <lucide-icon name="Users" class="text-[#003863] w-4" />
                <div class="flex flex-row gap-1"><span class="font-semibold">Assigné à:</span>{{machine.assignedUser}}
                </div>
            </div>
            <div class="flex flex-row gap-2 items-center">
                <lucide-icon name="map-pin" class="text-red-600 w-4" />
                <div class="flex flex-row gap-1 font-semibold">{{machine.emplacement}}</div>
            </div>
        </div>
    </div>
    <div class="w-0.5 my-2 bg-[#B7CBDB] rounded-full"></div>
    <div class="flex flex-col gap-2 w-1/3  py-4">
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <div class="flex flex-row gap-1"><span class="font-semibold">OS:</span>{{machine.os}}</div>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <div class="flex flex-row gap-1"><span class="font-semibold">CPU:</span>{{machine.cpu}}</div>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <div class="flex flex-row gap-1"><span class="font-semibold">RAM:</span>{{machine.ram}} Go</div>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <div class="flex flex-row gap-1"><span class="font-semibold">Stockage:</span>{{machine.typeStockage}} -
                {{machine.tailleStockage}} Go</div>
        </div>
    </div>
    <div class="w-0.5 my-2 bg-[#B7CBDB] rounded-full"></div>
    <div class="flex flex-col gap-2 w-1/3 py-4">
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <div class="flex flex-row gap-1"><span class="font-semibold">Achat:</span>{{machine.dateAchat | date}}</div>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <div class="flex flex-row gap-1"><span
                    class="font-semibold">Garantie:</span>{{machine.dateExpirationGarantie | date}}</div>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <div class="flex flex-row gap-1"><span class="font-semibold">Vendeur:</span>{{machine.vendeur}}</div>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <lucide-icon name="Users" class="text-[#003863] w-4" />
            <button class="flex flex-row gap-1"><span
                    class="font-semibold">Commentaire:</span>{{machine.commentaire}}</button>
        </div>
    </div>
    <div class="w-0.5 my-2 bg-[#B7CBDB] rounded-full"></div>
    <div class="flex flex-col w-20 my-4">
        <div class="flex flex-col gap-2 h-1/2 items-center">
            <button>
                <lucide-icon name="Users" class="text-[#003863] w-4" />
            </button>
            <button>
                <lucide-icon name="Users" class="text-[#003863] w-4" />
            </button>
        </div>
        <div class="flex flex-col h-1/2 items-center justify-end">
            <button class="">
                <lucide-icon name="history" [size]="30" class="text-orange-500" (click)="openDialogue(items[0])" />
            </button>
        </div>
    </div>
    <!--Responsive suggestions (see components-test)-->