<div class="flex flex-col ">
    <!--     <div class="grid grid-cols-[0.5fr,2fr,1fr,2fr,1fr,1fr] items-center justify-items-center gap-4">
        <div class="">

        </div>
        <div *ngFor="let i of [0,1,2,3,4]" class="font-poppins font-medium text-sm text-gray-400">
            {{headerItems[i]}}
        </div>
    </div> -->
    <div class="border-b-2 mx-8 mt-2"></div>
    <!--     <div class="flex flex-col gap-4 mt-4 overflow-y-auto max-h-[calc(100vh-100px)]">
        <app-machine-card [machine]="data[0]" />
        <app-machine-card />
        <app-machine-card />
        <app-machine-card />
        <app-machine-card />
        <app-machine-card />
        <app-machine-card />
    </div> -->
    <div class="flex flex-col gap-4 mt-4 overflow-y-auto max-h-[calc(100vh-100px)]">
        <app-machine-card *ngFor="let machine of data" [machine]="machine" />
    </div>
</div>